<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>INSERT TITLE HERE</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-1">
        <a href="/admin/" class="btn btn-primary ms-5"><i class="fa-solid fa-arrow-left"></i> Admin Dashboard</a>
        <div class="row">
            <div class="card-header text-center">
                <p class="fs-4">All Orders</p>

                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMsg()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMsg()}"></th:block>
                </th:block>

                <div class="col-md-4 p-4">
                    <form  action="/admin/searchOrder" method="get">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control"  placeholder="Enter Ordered Id" name="orderId">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12 ps-4 pe-4 card-body text-center">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Deliver Details </th>
                        <th scope="col">Product Details</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${srch}">

                        <tr >
                            <th scope="row">[[${orderDtls.orderId}]]</th>
                            <td>[[${orderDtls.orderDate}]]</td>
                            <td class="text-start">
                                Name : [[${orderDtls.orderAddress.firstName+' '+orderDtls.orderAddress.lastName}]] <br>
                                Email : [[${orderDtls.orderAddress.email}]] <br>
                                Mob No : [[${orderDtls.orderAddress.mobileNo}]] <br>
                                Address : [[${orderDtls.orderAddress.address}]] <br>
                                City : [[${orderDtls.orderAddress.city}]] <br>
                                State : [[${orderDtls.orderAddress.state}]] <br>
                                Pincode : [[${orderDtls.orderAddress.pincode}]]

                            </td>
                            <td>[[${orderDtls.product.title}]]</td>
                            <td class="text-start">
                                Quantity : [[${orderDtls.quantity}]] <br>
                                Price    : [[${orderDtls.price}]] <br>
                                Total Price :
                                [[${orderDtls.quantity}]] x [[${orderDtls.price}]] = [[${orderDtls.quantity * orderDtls.price}]]

                            </td>
                            <td>[[${orderDtls.status}]]</td>
                            <td>
                                <form action="/admin/updateOrderStatus" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <select  class="form-control" name="st">
                                                <option>--Select--</option>
                                                <option value="1">In Progress</option>
                                                <option value="2">Order Received</option>
                                                <option value="3">Product Packed</option>
                                                <option value="4">Out for Delivery</option>
                                                <option value="5">Delivered</option>
                                                <option value="6">Cancelled</option>
                                            </select>
                                        </div>
                                        <input th:value="${orderDtls.id}" name="id" type="hidden">

                                        <th:blcok th:if="${orderDtls.status=='Cancelled' || orderDtls.status == 'Deliverd'}">
                                            <div class="col">
                                                <button class="btn btn-primary btn-sm disabled">Update</button>
                                            </div>
                                        </th:blcok>

                                        <th:blcok th:unless="${orderDtls.status=='Cancelled' || orderDtls.status == 'Deliverd'}">
                                            <button class="btn btn-primary btn-sm"  >Update</button>
                                        </th:blcok>

                                    </div>
                                </form>
                            </td>
                        </tr>

                    </th:block>

                    <th:block th:unless="${srch}">
                        <tr th:each="o : ${orders}">
                            <th scope="row">[[${o.orderId}]]</th>
                            <td>[[${o.orderDate}]]</td>
                            <td class="text-start">
                                Name : [[${o.orderAddress.firstName+' '+o.orderAddress.lastName}]] <br>
                                Email : [[${o.orderAddress.email}]] <br>
                                Mob No : [[${o.orderAddress.mobileNo}]] <br>
                                Address : [[${o.orderAddress.address}]] <br>
                                City : [[${o.orderAddress.city}]] <br>
                                State : [[${o.orderAddress.state}]] <br>
                                Pincode : [[${o.orderAddress.pincode}]]

                            </td>
                            <td>[[${o.product.title}]]</td>
                            <td class="text-start">
                                Quantity : [[${o.quantity}]] <br>
                                Price    : [[${o.price}]] <br>
                                Total Price :
                                [[${o.quantity}]] x [[${o.price}]] = [[${o.quantity * o.price}]]

                            </td>
                            <td>[[${o.status}]]</td>
                            <td>
                                <form action="/admin/updateOrderStatus" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <select  class="form-control" name="st">
                                                <option>--Select--</option>
                                                <option value="1">In Progress</option>
                                                <option value="2">Order Received</option>
                                                <option value="3">Product Packed</option>
                                                <option value="4">Out for Delivery</option>
                                                <option value="5">Delivered</option>
                                                <option value="6">Cancelled</option>
                                            </select>
                                        </div>
                                        <input th:value="${o.id}" name="id" type="hidden">

                                        <th:blcok th:if="${o.status=='Cancelled' || o.status == 'Deliverd'}">
                                            <div class="col">
                                                <button class="btn btn-primary btn-sm disabled">Update</button>
                                            </div>
                                        </th:blcok>

                                        <th:blcok th:unless="${o.status=='Cancelled' || o.status == 'Deliverd'}">
                                            <button class="btn btn-primary btn-sm"  >Update</button>
                                        </th:blcok>

                                    </div>
                                </form>
                            </td>
                        </tr>
                    </th:block>


                    </tbody>
                </table>

                <th:block th:if="${!srch}">
                    <div class="row mb-5">
                        <div class="col-md-4 ">Total Orders : [[${totalElements}]]</div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" th:classappend="${isFirst}?'disabled':''" th:href="@{'/admin/orders?pageNo='+${pageNo-1}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"  th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${pageNo+1==i}?'active':''">
                                        <a class="page-link" th:href="@{'/admin/orders?pageNo='+${i-1}}">[[${i}]]</a></li>
                                    <li class="page-item">
                                        <a class="page-link" th:classappend="${isLast}?'disabled':''" th:href="@{'/admin/orders?pageNo='+${pageNo+1}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
</body>
</html>
