<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">

<head>
    <meta>
    <title>
        INSERT IITLE HERE
    </title>
</head>

<body>
<section>

    <div class="container mt-5">
        <a href="/admin/" class="btn btn-primary ms-5 mb-5"><i class="fa-solid fa-arrow-left"></i> Admin Dashboard</a>
        <div class="card card-sh">

            <div class="card-header text-center">
                <p class="fs-4" th:if="${type==1}">Users</p>
                <p class="fs-4" th:if="${type==2}">Admins</p>
            </div>

            <div class="card-body  text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Sl No.</th>
                        <th scope="col">Profile.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile No.</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,c:${users}">
                        <th scope="row">[[${c.count}]]</th>
                        <td><img th:src="@{/img/profile_img/}+${p.profileImage}" height="50px" width="50px"></td>
                        <td>[[${p.name}]]</td>
                        <td>[[${p.email}]]</td>
                        <td>[[${p.mobileNumber}]]</td>
                        <td>[[${p.address + ', ' + p.city + ', ' + p.state + ' - ' + p.pincode}]]</td>
                        <td>
                            <th:block th:if="${p.isEnable==true}">
                                Active
                            </th:block>
                            <th:block th:if="${p.isEnable==false}">
                                InActive
                            </th:block>
                        </td>
                        <td>
                            <a th:href="@{'/admin/updateStatus/'+${p.id}}" th:if="${p.isEnable==true}"   class="btn btn-danger btn-sm">Block</i>
                            </a>
                            <a th:href="@{'/admin/updateStatus/'+${p.id}}" th:if="${p.isEnable==false}"   class="btn btn-primary btn-sm">Unblock</i>
                            </a>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
</body>