<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">
<head>
    <meta>
    <title>
        INSERT IITLE HERE
    </title>
</head>

<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 ">

                <form>
                    <p  class="text-center fs-4">
                        Fill Address
                    </p>
                    <hr>

                    <div class="row mb-3">

                        <div class="col p-1">
                            <label>
                                First Name
                            </label><br>
                            <input type="text" class="form-group col mt-1" name="firstName" >
                        </div>

                        <div class="col p-1">
                            <label>
                                Last Name
                            </label> <br>
                            <input type="text" class="form-group col ms-2 mt-1" name="lastName" >
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col p-1">
                            <label>
                                Email
                            </label> <br>
                            <input type="email" class="form-group col mt-1" name="email" >
                        </div>

                        <div class="col p-1">
                            <label>
                                Mobile Number
                            </label>  <br>
                            <input type="number" class="form-group col ms-2 mt-1" name="mobileNo" >
                        </div>
                    </div>



                    <div class="row mb-3">
                        <div class="col p-1">
                            <label>
                                Address
                            </label> <br>
                            <input type="text" class="form-group col mt-1" name="address" >
                        </div>

                        <div class="col p-1">
                            <label>
                              City
                            </label>   <br>
                            <input type="text" class="form-group col ms-2 mt-1" name="city" >
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="col p-1">
                            <label>
                                State
                            </label>  <br>
                            <input type="text" class="form-group col mt-1" name="state">
                        </div>

                        <div class="col p-1">
                            <label>
                                Pincode
                            </label>  <br>
                            <input type="number" class="form-group col ms-2 mt-1" name="pincode">
                        </div>

                    </div>
                </form>

            </div>
            <div class="col-md-6 ">
                <p class="text-center fs-4 ">Payment Type</p>
                <hr>

                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless ">
                            <tbody>
                            <tr>
                                <td>
                                    Total Price
                                </td>
                                <td>:</td>
                                <td>
                                   &#8377;   299
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Delivery Fee
                                </td>
                                <td>:</td>
                                <td>
                                    &#8377;   99
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Tax
                                </td>
                                <td>:</td>
                                <td>
                                    &#8377;   100
                                </td>
                            </tr>

                            <hr>

                            <tr class="border-top">
                                <td>
                                    Total Price
                                </td>
                                <td>:</td>
                                <td>
                                    &#8377;   299
                                </td>
                            </tr>


                            </tbody>

                        </table>
                    </div>

                </div>
                <div  class="card  shadow-sm p-3 mt-2 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <form action="/login"  method="post">
                            <div class="mb-3">
                                <label class="form-control">Select Payment Type</label>
                                <select>
                                <option>---select---</option>
                                <option>Cash On Delivery</option>
                                <option>Online Payment</option>
                                </select>
                            </div>

                            <button type="submit" class="btn bg-primary text-white col-md-12">Place Order</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
</body>
</html>