<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">
<head>
    <meta>
    <title>
        INSERT IITLE HERE
    </title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <i class="fa-solid fa-circle-check fa-5x text-success"></i>
                    <p class="fs-3">Product Ordered Successfully</p>
                    <p class="fs-4">Product will be deliverd within 7 days</p>
                    <div>
                        <a href="/" class="btn btn-primary">Home</a>
                        <a href="/user/userOrders" class="btn btn-primary">Your Order</a>
                    </div>
            </div>
            </div>

    </div>
</section>
</body>
</html>