<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">
<head>
    <meta>
    <title>
        INSERT IITLE HERE
    </title>
</head>

<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">

            <!--        we are dividing login screen half half for image and login info -->
            <div class="col-md-6 p-5">
                <img alt=""  src="img/ecom.png"  height="400px" width="100%">
            </div>
            <div class="col-md-6  mt-5 p-5">
                <div  class="card  shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center"> Forgot Password </p>

                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMsg()}">
                            </th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMsg()}">
                            </th:block>
                        </th:block>

                    </div>

                    <div class="card-body">
                        <form action="/forgotPassword" method="post">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" name="email" type="email" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn bg-primary text-white">Send</button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>

    </div>
</section>
</body>
</html>