<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">

<head>
    <meta>
    <title>
       INSERT IITLE HERE
    </title>
</head>

<body>
<section>


<!--    start slider-->

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/ecom1.png" class="d-block w-100" alt="..." height="350px">
            </div>
            <div class="carousel-item">
                <img src="img/ecom2.png" class="d-block w-100" alt="..." height="350px">
            </div>
            <div class="carousel-item">
                <img src="img/ecom3.png" class="d-block w-100" alt="..." height="350px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!--    end slider -->

<!--    start category-->

    <div class="container">
        <div class="row">
            <p class="text-center fs-4">
              Category
            </p>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/appli.png"  height="140px" width="65%">
                        <p>Electronics</p>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/beuty.png"  height="140px" width="65%">
                        <p>Beauty</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/pant.png"  height="140px" width="65%">
                        <p>Cloths</p>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/laptop.jpg"  height="140px" width="65%">
                        <p>Laptops</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/mobile.png"  height="140px" width="65%">
                        <p>Mobile</p>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/groccery.jpg"  height="140px" width="65%">
                        <p>Grocery</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
<!--    end category-->


<!--    start latest product -->
     <div class="container-fluid bg-light p-3">
         <div class="row">
             <p class="text-center fs-4">Latest products</p>
             <div class="col-md-3">
                 <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                     <div class="card-body text-center">
                          <img src="img/product_img/laptop.jpg"  width="65%" height="140px" d>
                          <p class="text-center"> HP Laptops</p>
                     </div>
                 </div>
             </div>


             <div class="col-md-3">
                 <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                     <div class="card-body text-center">
                         <img src="img/product_img/laptop.jpg"  width="65%" height="140px" d>
                         <p class="text-center"> HP Laptops</p>
                     </div>
                 </div>
             </div>


             <div class="col-md-3">
                 <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                     <div class="card-body text-center">
                         <img src="img/product_img/laptop.jpg"  width="65%" height="140px" d>
                         <p class="text-center"> HP Laptops</p>
                     </div>
                 </div>
             </div>


             <div class="col-md-3">
                 <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                     <div class="card-body text-center">
                         <img src="img/product_img/laptop.jpg"  width="65%" height="140px" d>
                         <p class="text-center"> HP Laptops</p>
                     </div>
                 </div>
             </div>
         </div>

     </div>


<!--    end latest product-->
</section>
</body>
</html>