<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">
<head>
    <meta>
    <title>
        INSERT IITLE HERE
    </title>
</head>

<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">

            <!--        we are dividing login screen half half for image and login info -->
            <div class="col-md-6 p-5">
                <img alt=""  src="img/ecom.png"  height="400px" width="100%">
            </div>
            <div class="col-md-6  mt-5 p-5">
                <div  class="card  shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center"> Login </p>

                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid Email & Password
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            Logut Successfully
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="/login"  method="post">
                            <div class="mb-3">
                                <label class="form-Label">
                                    Email
                                </label>
                                <input class="form-control" name="username" type="username">
                            </div>

                            <div class="mb-3">
                                <label class="form-Label">
                                    Password
                                </label>
                                <input class="form-control" name="password" type="password">
                            </div>

                            <button type="submit" class="btn bg-primary text-white col-md-12">Login</button>
                        </form>
                    </div>

                    <div class="card-footer text-center">

                        <a href="#" class="text-decoration-none">Forgot Password ?</a><br>
                        Don't have an account ?
                        <a href="#" class="text-decoration-none"> Create one
                        </a>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
</body>
</html>