<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Message Page</title>
</head>

<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 p-5 text-center offset-md-3">
                <h3 th:text="${msg}">Message will come here</h3> <!-- th:text se safe aur dynamic -->
            </div>
        </div>
    </div>
</section>
</body>
</html>
