<!DOCTYPE html>
<html  lang="en"  xmlns:th = "html://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">
<head>
    <meta>
    <title>
        INSERT IITLE HERE
    </title>
</head>

<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">

            <!--        we are dividing login screen half half for image and login info -->
            <div class="col-md-5 p-5">
                <img alt=""  src="img/ecom.png"  height="400px" width="100%">
            </div>
            <div class="col-md-7  p-5">
                <div  class="card  shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center"> Register </p>
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="row">
                            <div class="col">
                                <label class="form-label mb-2">
                                    Full Name
                                </label>
                                <input class="form-control" name="name" type="text">
                            </div>

                            <div class="col">
                                <label class="form-Label mb-2">
                                    Mobile Number
                                </label>
                                <input class="form-control" name="number" type="number">
                            </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-Label">
                                    Email
                                </label>
                                <input class="form-control" name="email" type="email">
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class="form-Label mb-2">
                                        Address
                                    </label>
                                    <input class="form-control" name="address" type="text">
                                </div>

                                <div class="col">
                                    <label class="form-Label mb-2">
                                       City
                                    </label>
                                    <input class="form-control" name="city" type="text">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class="form-Label mb-2">
                                        State
                                    </label>
                                    <input class="form-control" name="state" type="text">
                                </div>

                                <div class="col">
                                    <label class="form-Label mb-2">
                                        Pincode
                                    </label>
                                    <input class="form-control" name="pincode" type="number">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-Label mb-2">
                                        Password
                                    </label>
                                    <input class="form-control" name="password" type="password">
                                </div>

                                <div class="col">
                                    <label class="form-Label mb-2">
                                        Confirm Password
                                    </label>
                                    <input class="form-control" name="password" type="password">
                                </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-Label">
                                    Profile Image
                                </label>
                                <input class="form-control" name="profile_image" type="file">
                            </div>

                            <button type="submit" class="btn bg-primary text-white col-md-12 mt-4">Register</button>
                        </form>
                    </div>

                    <div class="card-footer text-center">
                        have an account ?
                        <a href="#" class="text-decoration-none"> Login
                        </a>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
</body>
</html>